.back-link-box .list-back-link li a:hover,
.center-section .wrap-search-form,
.change-display-mode .display-mode.active i::before,
.change-display-mode .display-mode:hover i::before,
.coppy-right-box .coppy-right-text a:hover,
.detail-info .quantity-input input[type="text"],
.header-nav-section li > a:hover,
.post-footer .post-tags ul li,
.product .product-info .product-name:hover span,
.product-style-1 .product-info .product-name:hover,
.product-style-1 .product-info .wrap-btn a,
.product-style-2 .product-info .product-name:hover span,
.summary .checkout-info .link-to-shop:hover,
.topbar-menu-area .topbar-menu ul li a:hover,
.ui-slider + p button:hover,
.vertical-list li a.active,
.widget-our-services .service a > i,
.wrap-breadcrumb ul a:hover,
.wrap-iten-in-cart .products-cart .product-name a:hover,
.wrap-login-item .form-item input[type="checkbox"] + span::after,
.wrap-nav.horizontal-nav .link-term:hover,
.wrap-vertical-nav li a:hover {
    color: #38b04a;
}
.detail-info .wrap-btn .btn:hover,
.detail-info .wrap-btn .btn:hover::before,
.header-toggle .primary > .menu-item.sale-panel > a:hover,
.product .product-info .product-rating .count-review:hover,
.product-list-style .advance-info .stock-info.in-stock p b,
.product-list-style .advance-info .wrap-btn .btn:hover,
.product-list-style .advance-info .wrap-btn .btn:hover::before,
.widget a:hover,
.widget.filter-widget .vertical-list li a::after,
.widget.search-post button[type="submit"]:hover i,
.wrap-articles article .info .post-attrs li a.link-commnet-post:hover::before,
.wrap-articles article .info .post-attrs li a:hover,
.wrap-articles article .info .post-name:hover .art-title,
.wrap-login-item .form-item .link-function:hover,
.wrap-product-widget li.funtion-item a:hover,
.wrap-product-widget li.funtion-item a:hover i,
.wrap-product-widget li.funtion-item a:hover::after {
    color: #38b04a !important;
}
#review_form_wrapper
    #review_form
    .comment-form
    p.form-submit
    input[type="submit"],
.aboutus-info.style-small-left
    .list-showups
    label
    input[type="radio"]:checked
    + span.check-box,
.advance-info .tab-control a.active,
.center-section .wrap-search-form button,
.checkout-info .btn-checkout,
.choose-payment-methods
    .payment-method
    input[type="radio"]:checked
    + span::before,
.detail-info .quantity-input .btn:hover,
.detail-info .wrap-butons .add-to-cart:hover,
.header-style-3 #sticky-wrapper.is-sticky .header-sticky,
.header-toggle .primary .submenu .menu-item:hover,
.header-toggle .primary > .menu-item:not(.sale-panel):hover,
.header-toggle .wrap-toggle-menu,
.header.fill-color,
.main-info-area .right-section .wrap-icon-section.minicart .index,
.post-footer .comment-form fieldset.input-field input[type="submit"],
.primary .menu-item.home-icon,
.product-style-1 .product-info .wrap-btn a::after,
.product-style-2 .product-thumnail .wrap-btn .function-link:hover,
.product-style-3 a.add-to-cart:hover,
.summary-item .btn,
.wrap-articles article .info a.btn-to-post:hover,
.wrap-banner .banner-link,
.wrap-contacts .contact-box input[type="submit"],
.wrap-footer-content .wrap-function-info,
.wrap-footer-item .social-network ul li a:hover,
.wrap-icon-box .icon-box-item i,
.wrap-login-item .form-item .btn,
.wrap-main-slide .slide-1 .btn-link,
.wrap-main-slide .slide-3 .btn-link,
.wrap-main-slide-2 .wrap-banners .btn,
.wrap-main-slide-3 .item-slide .wrap-banners .banner-link,
.wrap-newletter-footer .btn-submit,
.wrap-pagination-info .page-numbers li .page-number-item.current,
.wrap-product-tab.tab-style-3 .tab-control,
.wrap-product-tab.vertical-type .tab-control a::before,
.wrap-show-advance-info-box .title-box {
    background: #38b04a;
}
.detail-media .flex-control-nav .owl-nav button:hover,
.has-child-cate .toggle-control:hover::after,
.has-child-cate .toggle-control:hover::before,
.product-list-style .advance-info .add-to-cart:hover,
.widget.filter-widget .vertical-list li a.btn-control:hover::before,
.wrap-iten-in-cart .products-cart .quantity .quantity-input .btn:hover,
.wrap-pagination-info .page-numbers li .page-number-item:hover {
    background: #38b04a !important;
}
.advance-info .tab-control a.active,
.center-section .wrap-search-form,
.choose-payment-methods
    .payment-method
    input[type="radio"]:checked
    + span::before,
.detail-info .quantity-input .btn:hover,
.detail-info .wrap-butons .add-to-cart:hover,
.flex-control-thumbs img.flex-active,
.header-toggle .nav-section,
.header-toggle .primary .submenu .menu-item:hover,
.header-toggle .primary > .menu-item:not(.sale-panel):hover,
.product-style-2:hover,
.product-widget-style .thumbnnail a:hover img,
.wrap-demo-item-1:hover img {
    border-color: #38b04a;
}
.aboutus-info.style-small-left
    .list-showups
    label
    input[type="radio"]:checked
    + span.check-box,
.product-list-style .advance-info .add-to-cart:hover,
.product-style-3 a.add-to-cart:hover,
.widget.widget-tag-clouds ul li a:hover,
.wrap-articles article .info a.btn-to-post:hover,
.wrap-pagination-info .page-numbers li .page-number-item.current,
.wrap-pagination-info .page-numbers li .page-number-item:hover {
    border-color: #38b04a !important;
}
.fill-color.header-toggle .wrap-toggle-menu,
.header.fill-color .center-section .wrap-search-form button:hover,
.wrap-main-slide-2 .wrap-banners .btn:hover,
.wrap-product-tab.tab-style-3 .tab-control .tab-control-item.active {
    background-color: #009000;
}
.fill-color.header-toggle .header-nav-section .menu-nav li a:hover {
    color: #444 !important;
}
